div.header {
    color: black;
    border: none;
    font-size: larger;
    padding: 4px 2px;
    background-color: darkcyan;
}

p.name {
    margin: 0 auto;
    font-size: larger;
}

div.date {
    float: right;
    color: black;
    font-size: larger;
    margin-top: -4.5%;
}

div.currentTime {
    float: right;
    color: black;
    font-size: larger;
    margin-top: -3.5%;
}

input[type=button] {
    background-color: lightseagreen;
    color: white;
    font-size: large;
    padding: 4x 4px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 2px;
    align-self: center;
}

input[type=button]:hover {
    background-color: cyan;
}
