@font-face {
    font-family: lato;
    src: url("//fonts/Lato-Light.ttf");
}

.side_container {
    color: aliceblue;
}

.menu {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-button {
    border-radius: 5px;
    border: 1px solid black;
    text-align: left;
    width: 88%;
    color: black;
    font-size: large;
    font-family: lato;
    padding: 10pt   ;
    margin-bottom: 3pt;
}

.menu-button:hover {
    background-color: white;
}