body {
    background-color: lightblue;
}

div.content {
    background-color: lightblue;
    width: 100%;
    border: 1pt solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.sidebar {
    width: 10%;
    border: 1pt solid black;
    margin: auto;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

div.main {
    width: 90%;
    border: 1pt solid black;
    margin: auto;
    padding: 1%;
}

div.data_edition {
    font-size: larger;
    background-color: lightblue;
    display: table;
    margin: 0 auto;
    padding: 12px 8px;
    border: 1pt solid black;
}

input[type=text] {
    background-color: white;
    color: black;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    border: 1pt solid black;
    margin: 0 auto;
    margin-bottom: 5%;
    justify-content: center;
}

input[type=submit] {
    background-color: darkcyan;
    color: white;
    font-size: large;
    padding: 4px 2px;
    text-decoration: none;
    justify-content: center;
    border: 1pt solid black;
    display: table;
    margin: 0 auto;
}

label {
    border: none;
    color: black;
    justify-content: center;
    display: table;
    margin: 0 auto;
}

iframe {
    overflow: hidden;
    /*border: none;*/
    /*border: 1px solid black;*/
    /*border-radius: 50px;*/
}

iframe.header {
    width: 100%;
    height: auto;

}

iframe.sidebar {
    width: 20%;
    height: 500px;
}


iframe.main {
    width: 79%;
    height: 500px;

}

iframe.footer {
    width: 100%;
    text-align: center;
}

#privacy {
    text-align: center;
}
