table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 10px;
}

table caption {
    padding: 0 0 10px 0;
}

table td {
    height: 25px;
    border: 1px solid black;
}

table td a {
    text-decoration: none;
    color: indigo;
}

table td a:hover {
    color: red;
}

caption {
    caption-side: top;
}

.members {
    width: auto;
    float: left;
    margin-right: 20px;
}

.col_header {
    text-align: center;
}

#col_header {
    text-align: center;
}

.group_quests {
    width: auto;
    float: left;
}

.new_team {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
