.listing ol, .listing ul {
    justify-content: flex-start;
    display: block;
    padding-top: 2rem;
}

.listing li {
    font-family: 'Oswald', serif;
}

.listing form {
    padding-top: 1rem;
    width: 70%;
    margin: auto;
}

.listing * div.row {
    width: 100%;
    margin: auto;
    display: table;
}

/*.listing form ul div.row {*/
    /*width: 70%;*/
    /*margin: auto;*/
    /*padding: .2rem;*/
/*}*/

.listing label, .row label#backlogLabel {
    animation: leftAnimation .5s;
    position: relative;
    text-align: left;
    margin: auto;
    font-size: large;
    padding-left: .5rem;
    width: 50%;
}
.row p#backlog {
    margin-bottom: -.9rem;
    /*padding: -10px;*/
}

.row label#backlogLabel {
    padding-top: 1.25rem;
    margin: 0;
}

.listing a {
    font-family: 'Oswald', serif;
    text-decoration: none;
    color: #e3e3e3;
}

.listing a:hover {
    color: black;
    background-color: white;
    transition: .2s background-color;
}

.listing a:active {
    color: red;
}

.listing a:visited {
    color: #000000;
}

.listing > p {
    animation: bottomAnimation .5s;
    position: relative;
    font-family: 'Oswald', serif;
    font-size: larger;
    text-align: center;
}

.row button {
    display: none;
    float: right;
    padding: .25rem .5rem;
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Oswald', serif;
    margin: 0 2px;
}

.row li:hover button {
    animation: rightAnimation .5s;
    position: relative;
    display: inline-block;
}

.row li button:hover {
    background-color: white;
    color: black;
    transition: .3s background-color;
}

#hidden-buttons {
    width: 35%;
    margin: -2px auto;
    padding: .4rem;
    vertical-align: middle;
}