div.login label, div.personal-info label{
    animation: leftAnimation .5s;
    position: relative;
}

div.login input, div.personal-info p {
    animation: rightAnimation .5s;
    position: relative;
}

div.login input[type=submit] {
    animation: bottomAnimation .5s;
    position: relative;
}

div.login {
    margin-top: 2rem;
}

div.login form {
    padding: 15px;
}

div.personal-info p {
    padding: .5rem;
}

div.login p {
    animation: bottomAnimation .5s;
    position: relative;
    text-align: center;
    font-family: 'Oswald', serif;
}

form div.row {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.personal-info form div.row {
    width: 50%;
    margin: auto;
    padding-left: 15%;
}

form label {
    width: 30%;
    text-align: end;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 8px;
}

.personal-info form label {
    text-align: end;
    display: block;
    float: left;
    margin-right: 10px;
    width: 30%;
    /*padding: 5px;*/
}

form input {
    padding: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 200px;
}

form p {
    font-family: 'Oswald', serif;
    padding: 1.2rem 5px;
    width: auto;
}

form > input[type="submit"] {
    width: 100px;
    background: rgba(0, 0, 0, .5);
    border: none;
    color: #fff;
    cursor: pointer;
}

.row > input[type=submit], .row > label {
    font-family: 'Oswald', serif;
}

