body {
    background-image: url("../img/texture-1444067_1920.jpg");
}

div.container {
    background-color: transparent;
    width: 95%;
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.menu {
    width: 15%;
    margin: 1%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

div.main {
    width: 82%;
    margin: 1%;
    padding: 1%;
    min-height: 350px;
}

div.data_edition {
    font-size: larger;
    background-color: lightblue;
    display: table;
    margin: 0 auto;
    margin-top: 10%;
    padding: 12px 8px;
    border: 1pt solid black;
    justify-content: center;
}

input[type=text] {
    background-color: white;
    color: black;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    border: 1pt solid black;
    margin: 0 auto;
    margin-bottom: 5%;
    justify-content: center;
}

input[type=submit] {
    background-color: darkcyan;
    color: white;
    font-size: large;
    padding: 4px 2px;
    text-decoration: none;
    justify-content: center;
    border: 1pt solid black;
    display: table;
    margin: 0 auto;
}

label {
    border: none;
    color: black;
    justify-content: center;
    display: table;
    margin: 0 auto;
}

#privacy {
    text-align: center;
}

select.class_choice {
    margin: auto 1%;
    width: 90%;
    height: 25px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    font: bold 14pt Cambria, serif;
}

div.options {
    display: flex;
    align-content: center;
    width: 90%;
    padding: 1%;
}

p.title {
    color: purple;
    font: bold 21pt Cambria, serif;
    padding: 1%;
    text-align: center;
}

a.button {
    display: inline-block;
    margin: 0 1% 0 0;
    width: 25px;
    height: 25px;
}

img.button-image  {
    width: 100%;
    height: 100%;
}

div.container > a {
    font: bold 16pt Cambria, serif;
    display: block;
    width: 20%;
    height: 25px;
    color: purple;
    background-color: silver;
    border-radius: 50px;
    text-decoration: none;
    margin: 1% auto;
    padding: 1%;
    text-align: center;
    box-shadow: 0 0 10px 5px purple inset;
}

div.container > a:hover {
    background-color: purple;
    color: silver;
    box-shadow: 0 0 10px 5px silver inset;
}

div.info-container {
    width: 100%;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.profile-pic {
    display: grid;
    width: 20%;
    margin: auto;
}

.profile-pic > img {
    width: 100%;
}

div.personal-info {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 5%;
}

div.info {
    background-color: transparent;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 1%;
    text-align: center;
}

div.info > p.data {
    font: bold 12pt Cambria, serif;
    color: purple;
    display: inline-block;
    margin: 0 1%;
    padding: 0 1%;
}

div.info > p.value {
    font: bold 14pt Cambria, serif;
    color: indigo;
    display: inline-block;
    margin: 0 1%;
    padding: 0 1%;
}

footer {
    position: static;
}

footer ul {
    float: none;
    font-size: 25px;
    height: 50px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 20px;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

footer ul li a:hover {
    color: red;
}

header {
    width: 95%;
    color: black;
    border: none;
    font-size: larger;
    padding: 2% 1%;
    margin: auto;
    background-image: url("../img/header1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
}

p.name {
    margin: 0 auto;
    font-size: larger;
}

div.date {
    float: right;
    color: white;
    font-size: larger;
    margin-top: -4.5%;
}

div.currentTime {
    float: right;
    color: white;
    font-size: larger;
    margin-top: -3%;
}

input[type=button] {
    background-color: midnightblue;
    color: white;
    font-size: large;
    padding: 4x 4px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 2px;
    align-self: center;
}

input[type=button]:hover {
    background-color: mediumblue;
}

/*@font-face {*/
    /*font-family: lato;*/
    /*src: url("//fonts/Lato-Light.ttf");*/
/*}*/

.side_container {
    color: aliceblue;
}

.menu {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-button {
    border-radius: 5px;
    border: 1px solid black;
    text-align: left;
    width: 88%;
    color: black;
    font-size: large;
    /*font-family: lato;*/
    font-family: Verdana, serif;
    padding: 10pt;
    margin-bottom: 3pt;
}

.menu-button:hover {
    background-color: white;
}

ul.menu > a {
    text-decoration: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 10px;
}

table caption {
    padding: 0 0 10px 0;
}

table td {
    height: 25px;
    border: 1px solid black;
}

table td a {
    text-decoration: none;
    color: indigo;
}

table td a:hover {
    color: red;
}

caption {
    caption-side: top;
}

.members {
    width: auto;
    float: left;
    margin-right: 20px;
}

.col_header {
    text-align: center;
}

#col_header {
    text-align: center;
}

.group_quests {
    width: auto;
    float: left;
}

.new_team {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}