@keyframes leftAnimation {
    0% { opacity: 0; left: -5rem; }
    50% { opacity: .5; left: 2rem; }
    100% { opacity: 1; left: 0; }
}

@keyframes bottomAnimation {
    0% { opacity: 0; top: 5rem; }
    50% { opacity: .5; top: -2rem; }
    100% { opacity: 1; top: 0; }
}

@keyframes rightAnimation {
    0% { opacity: 0; left: 5rem; }
    50% { opacity: .5; left: -2rem; }
    100% { opacity: 1; left: 0; }
}

@keyframes topAnimation {
    0% { opacity: 0; top: -2rem; }
    50% { opacity: 0.5; top: 1rem; }
    100% { opacity: 1; top: 0; }
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background: url("../img/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    overflow: auto;
    position: relative;
    min-height: 100%;
    margin: 0;
}

header {
    background: url("../img/header.jpg");
    background-size: 100%;
    background-position: center;
    height: 3.5rem;
    overflow: auto;
    color: black;
    border: none;
    font-size: larger;
    padding: 2% 1%;
    margin: auto;
    margin-bottom: -1rem;
}

header ul {
    display: table;
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: -1rem;
    vertical-align: middle;
}

header li {
    display: table-cell;
    padding: -1rem .1rem;
    width: 43%;
    margin: auto;
}

header li a {
    text-decoration: none;
    color: white;
}

header li p {
    font-family: 'Oswald', serif;
    font-size: 1.25rem;
}

#backbutton {
    padding-bottom: 2rem;
}

#backbutton input {
    font-family: 'Oswald', serif;
}

div.date, div.currentTime {
    float: right;
    color: white;
    font-size: larger;
}
div.date {
    margin-top: -1.7rem;
}

div.currentTime {
    margin-top: -0.5rem;
    margin-right: 1.2%;
}

body > div {
    padding-bottom: 3rem;
    padding-top: 0;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

input {
    background: url("../img/input.jpeg");
    background-position: center;
    color: black;
    font-size: larger;
    font-family: 'Oswald', Serif;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto -20px auto;
}

input[type=submit], input[type=button]{
    background: url("../img/button.jpeg");
    background-position: right bottom;
    color: white;
    font-size: large;
    text-decoration: none;
    justify-content: center;
    display: table;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    /*padding: 4px 2px;*/
    /*margin: 0 auto;*/
}

input[value=Logout] {
    float: left;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #666666;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: .3s background-color;
}

input[type=submit]:active, input[type=button]:active {
    background-color: #777777;
    border: none;
}

.info-container {
    overflow: auto;
}

.main div.profile-pic {
    animation: leftAnimation .5s;
    position: relative;
    width: 30%;
    float: left;
}

.main div.personal-info {
    width: 60%;
    float: left;
    padding-top: 2rem;
}


.info p {
    font-family: 'Oswald', serif;
    font-size: 1.5rem;
    margin: auto;
    padding-bottom: -1rem;
}

.slider {
    margin-top: 2rem;
}

.slider form {
    padding: 1rem;
}

.slider p {
    text-align: center;
    font-family: 'Oswald', serif;
}
/*

form input {
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

form p {
    font-family: 'Oswald', serif;
    padding: 1.2rem 5px;
    width: auto;
}

form > input[type="submit"] {
    width: 100px;
    background: rgba(0, 0, 0, .5);
    border: none;
    color: #fff;
    cursor: pointer;
}*/

.slider label{
    animation: leftAnimation .5s;
    position: relative;
}

.slider input[type=text], .slider span, .slider input[type=range] {
    animation: rightAnimation .5s;
    position: relative;
}

.slider input[type=submit], .slider p {
    animation: bottomAnimation .5s;
    position: relative;
}

.choice_form p {
    animation: leftAnimation .5s;
    position: relative;
    margin-left: 5rem;
}

.choice_form  > p {
    animation: bottomAnimation .5s;
    position: relative;
    font-family: 'Oswald', serif;
    font-size: larger;
    text-align: center;
}

.choice_form {
    margin-top: 2rem;
}

.choice_form form {
    padding: 1rem;
}

.choice_form div.row {
    width: 40%;
    margin: auto;
    margin-bottom: -2rem;
    padding: 0 30%;
}

.choice_form div.row:last-of-type {
    margin-bottom: 2rem;
}

.choice_form div.row input {
    float: right;
    margin-right: 5rem;
}

.choice_form div.row input {
    animation: rightAnimation .5s;
    position: relative;
}

.choice_form input[type=submit] {
    font-family: 'Oswald', serif;
    animation: bottomAnimation .5s;
    position: relative;
    margin-bottom: 2rem;
}