body {
    background-color: #888888;

}

div.container {
    background-color: transparent;
    width: 80%;
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.menu {
    width: 100%;
    margin: 1%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

div.main {
    width: 82%;
    margin-top: 50px;
    margin: 1%;
    padding: 1%;
    min-height: 350px;
}

div.data_edition {
    font-size: larger;
    background-color: lightblue;
    display: table;
    margin: 0 auto;
    margin-top: 10%;
    padding: 12px 8px;
    border: 1pt solid black;
    justify-content: center;
}

input[type=text] {
    background-color: white;
    color: black;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
    border: 1pt solid black;
    margin: 0 auto;
    margin-bottom: -20px;
    justify-content: center;
}

input[type=submit] {
    background-color: #555555;
    color: white;
    font-size: large;
    padding: 4px 2px;
    text-decoration: none;
    justify-content: center;
    border: 1pt solid black;
    display: table;
    margin: 0 auto;
}

input[type=submit]:hover {
    background-color: #666666
}

input[type=submit]:active {
    background-color: #777777
}

label {
    border: none;
    color: black;
    justify-content: center;
    display: table;
    margin: 0 auto;
}

#privacy {
    text-align: center;
}

select.class_choice {
    margin: auto 1%;
    width: 90%;
    height: 25px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    font: bold 14pt Cambria, serif;
}

div.options {
    display: flex;
    align-content: center;
    width: 90%;
    padding: 1%;
}

p.title {
    color: purple;
    font: bold 21pt Cambria, serif;
    padding: 1%;
    text-align: center;
}

a.button {
    display: inline-block;
    margin: 0 1% 0 0;
    width: 25px;
    height: 25px;
}

img.button-image  {
    width: 100%;
    height: 100%;
}

div.container > a {
    font: bold 16pt Cambria, serif;
    display: block;
    width: 20%;
    height: 25px;
    color: purple;
    background-color: silver;
    border-radius: 50px;
    text-decoration: none;
    margin: 1% auto;
    padding: 1%;
    text-align: center;
    box-shadow: 0 0 10px 5px purple inset;
}

div.container > a:hover {
    background-color: purple;
    color: silver;
    box-shadow: 0 0 10px 5px silver inset;
}

div.info-container {
    width: 100%;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.profile-pic {
    display: grid;
    width: 20%;
    margin: auto;
}

.profile-pic > img {
    width: 100%;
}

div.personal-info {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 5%;
}

div.info {
    background-color: transparent;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 1%;
    text-align: center;
}

div.info > p.data {
    font: bold 12pt Cambria, serif;
    color: purple;
    display: inline-block;
    margin: 0 1%;
    padding: 0 1%;
}

div.info > p.value {
    font: bold 14pt Cambria, serif;
    color: indigo;
    display: inline-block;
    margin: 0 1%;
    padding: 0 1%;
}

div.login form {
    padding: 15px;
}

div.login p {
    text-align: center;
}

form div.row {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

form label {
    width: 30%;
    text-align: end;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 8px;
}

form input {
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

form p {
    padding: 8px;
    width: auto;
}

form input[type="checkbox"] {
    position: relative;
    left: 30%;
    width: auto;
}

form span {
    position: relative;
    left: 30%;
}

form > input[type="submit"] {
    width: 100px;
    background: rgba(0, 0, 0, .5);
    border: none;
    color: #fff;
    cursor: pointer;
}

div.item {
    margin: auto;
}

footer {
    position: static;
}

footer ul {
    float: none;
    font-size: 25px;
    height: 50px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 20px;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

footer ul li a:hover {
    color: red;
}

header {
    color: black;
    /*border: none;*/
    font-size: larger;
    padding: 2% 1%;
    margin: auto;
    background-color: dimgrey;
    background-size: 100%;
}

p.name {
    margin: 0 auto;
    font-size: larger;
}

div.date {
    float: right;
    color: white;
    font-size: larger;
    margin-top: -4.5%;
}

div.currentTime {
    float: right;
    color: white;
    font-size: larger;
    margin-top: -3%;
    margin-right: 1.2%;
}

input[type=button] {
    background-color: #888888;
    color: white;
    font-size: large;
    padding: 4px 4px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 2px;
    align-self: center;
}

input[type=button]:hover {
    background-color: dimgrey;
}

/*@font-face {*/
    /*font-family: lato;*/
    /*src: url("//fonts/Lato-Light.ttf");*/
/*}*/

.side_container {
    color: aliceblue;
}

.menu {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu > a {
    text-decoration: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 10px;
}

table caption {
    padding: 0 0 10px 0;
}

table td {
    height: 25px;
    border: 1px solid black;
}

table td a {
    text-decoration: none;
    color: indigo;
}

table td a:hover {
    color: red;
}

caption {
    caption-side: top;
}

.members {
    width: auto;
    float: left;
    margin-right: 20px;
}

.col_header {
    text-align: center;
}

#col_header {
    text-align: center;
}

.group_quests {
    width: auto;
    float: left;
}

.new_team {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.menu-bar {
    width: auto;
    height: auto;
}
.menu-bar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: inherit;
}

.menu-bar li {
    font-family: 'Oswald', serif;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #888;
}
.menu-bar a {
    text-decoration: none;
    color: #fff;
    display: block;
}


.menu-bar li:hover {
    background-color: red;
    transition: .3s background-color;
}

@media screen and (min-width: 800px) {
    .menu-bar li {
        width: 15%;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.3em;
        float: left;
    }

    .menu-bar ul {
        overflow: auto;
        width: 600px;
        margin: auto;
    }

    .menu-bar {
        background-color: #444;
    }
}