html, body {
    height: 100%;
    background-color: red;
}

.container {
    min-height: 100%;
    position: relative;
    background-color: green;
}

.main {
    padding-bottom: 150px;    /* height of footer */
    background-color: blue;
    min-height: 400px;
    width: 80%;
    margin: auto;
    display: inline-block;
}

.menu {
    padding-bottom: 150px;    /* height of footer */
    background-color: skyblue;
    min-height: 400px;
    width: 19%;
    margin: auto;
    display: inline-block;
}

footer {
    height: 150px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: darkgoldenrod;
}

header {
    background-color: white;
}