<div class="main" name="container">
    <div class="classes_list">
        <p class="title">Select class:</p>
        <div class="options">
            <select class="class_choice" name="classes">
                <option value="" disabled selected>Pick a class</option>
                    {% for key, value in data %}
                    <option value="{{ key }}">{{ value }}</option>
                    {%  endfor  %}
            </select>
            <a class="button" href="data_edition.html">
                <img class="button-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/UniversalEditButton3.png/220px-UniversalEditButton3.png" />
            </a>
            <a class="button" href="">
                <img class="button-image" src="assets/delete-309164_640.png" />
            </a>
        </div>
    </div>
    <a href=""><div class="button">Add New Class</div></a>
</div>
