<div class="listing">
    <div class="personal-info">
        <form method="get">
            {% for key, value in messages %}
                <div class="row">
                    <label id="backlogLabel">{{ key }}</label>
                    <p id="backlog">{{ value }}</p>
                </div>
            {% endfor %}
        </form>
    </div>
    <form method="get">
        <ol>
            {% for key, value in data %}
                <div class="row">
                    <li><label><a href="{{ key }}">{{ value }}</a></label></li>
                </div>
            {% endfor %}
        </ol>
    </form>
</div>
