<div>
    <form method="post">
        {% for key, value in data %}
            <p>{{ key }}<br />value: {{ value }} <input type="checkbox" name="{{ key }}" value="{{ value }}"></p>
        {% endfor %}
        <input type="submit" value="Acquire">
    </form>
</div>