<div>
    <form method="post">
        {% for key, value in data %}
            <p>{{ key }} <input type="checkbox" name="{{ key }}" value="{{ key }}"></p>
        {% endfor %}
        <input type="submit" value="Acquire">
    </form>
</div>