<div class="context-menu">
    <ul class="context-menu">
        {% if (data) %}
            {% for key, value in data %}
                <li><a href="{{ value }}">{{ key }}</a></li>
            {% endfor %}
        {% else %}
            <li><a onclick="history.back(1);">Back</a></li>
        {% endif %}
    </ul>
</div>