<div class="context-menu">
    <nav>
        <ul>
            {% for key, value in data %}
                <a href="{{ value }}"><li><span>{{ key }}</span></li></a>
            {% endfor %}
        </ul>
    </nav>
</div>