<div class="login">
    <p>{{ title }}</p>
    <form method="post">
            <div class="row">
                <label for="login">Login: </label>
                <input name="login" id="login" value="{{ data['login'] }}" required /><br />
                <label for="password">Old password</label>
                <input name="password" id="password" type="password" required /><br />
                <label for="newpass1">New password</label>
                <input name="newpass1" id="newpass1" type="password"/><br />
                <label for="newpass2">Confirm password</label>
                <input name="newpass2" id="newpass2" type="password"/>
            </div>
        <input type="submit" value="Save" />
    </form>
</div>