</div>
<footer>
    <div class="context-menu">
        <ul id="footer">
            <li><a href="#" target="_blank">Buy coolcoins</a></li>
            <li><a href="/login" target="_blank">Privacy policy</a></li>
            <li><a href="http://codecool.pl" target="_blank">Join us</a></li>
            <li><a href="#">&copy 2017 Kraków</a></li>
        </ul>
    </div>
</footer>
</body>
</html>