<!DOCTYPE html>
<html xml:lang="pl" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="CodeCool QuestStore System">
    <meta name="Keywords" content="CodeCool, coins, store, artifacts, quests">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel="stylesheet" type="text/css">
    <script src="/static/js/currentTime.js"></script>
    <Title>CodeCool QuestStore</Title>
</head>
<body>
    <header>
        <form class="backbutton">
            {% if (name != "to QuestStore") %}
            <input type="button" value="Logout" onclick="window.open('/logout', '_parent')">
        {% else %}
        {% endif %}
        </form>
        <p class="name" onclick="window.open('/index', '_parent')">Welcome {{ name }}</p>
        <div class="date">
            <script src="/static/js/date.js"></script>
        </div>
        <div class="currentTime">
            <script type="text/javascript">
                loopTime();
            </script>
            <span id="clock"></span>
        </div>
    </header>
<div>