<!DOCTYPE html>
<html xml:lang="pl" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="CodeCool QuestStore System">
    <meta name="Keywords" content="CodeCool, coins, store, artifacts, quests">
    <link rel="stylesheet" href="/static/css/temp.css" type="text/css">
    <script src="static/js/currentTime.js"></script>
    <Title>CodeCool QuestStore</Title>
</head>
<body>
    <div class="container">
        {% include "header.twig" %}
        {% include "menu.twig" %}
        <div class="main">bla bla main window bla bla</div>
        {% include "footer.twig" %}
    </div>
</body>
</html>