<div>

    {% for key, value in data %}

    <p>{{ key }}</p>
    <p>{{ value }}</p>

    <form class="edition_buttons">
        <input type="button" value="edit" onclick="window.open('{{ key }}/edit', '_parent')">
        <input type="button" value="remove" onclick="window.open('{{ key }}/remove', '_parent')">
    </form>

    {% endfor %}

</div>