<div class="listing">
    <p>{{ title }}</p>
    <ol>
        {% for key, value in data %}
            <div class="row">
                <li id="hidden-buttons"><label><a href="{{ key }}">{{ value }}</a></label>
                    <button value="submit" onclick="window.open('{{ key }}/submit', '_parent')">Submit</button>
                </li>
            </div>
        {% endfor %}
    </ol>
</div>