<div>
    <p>{{ title }}</p>
    <ol>
        {% for key, value in data %}
            <li><a href="{{ key }}">{{ value }}</a>
                <button value="accept" onclick="window.open('{{ key }}/accept', '_parent')">Accept</button>
            </li>
        {% endfor %}
    </ol>
</div>