<div class="listing">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {#<form method="get">#}
        <ul>
            {% for key, value in data %}
                <div class="row">
                    <li id="hidden-buttons"><label><a href="{{ key }}">{{ value }}</a></label></li>
                </div>
            {% endfor %}
        </ul>
    {#</form>#}
</div>
