<div class="main" style="padding:0 50px;">
    <div class="info-container">
        <div class="profile-pic">
            <img src="/static/img/Biar9zXjT.jpg"/>
        </div>
        <div class="personal-info">
            {% for key, value in data %}
            <div class="info">
                <p class= {{ key }} > {{ value }} </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>