<div class="main" name="container">
    <div class="classes_list">
        <p class="title">Select group:</p>
        <div class="options">
            <select class="class_choice" name="classes">
                <option value="" disabled selected>Pick a group</option>

                {% for key, value in map %}

                    <option value="{{ key }}">{{ value }}</option>

                {%  endfor  %}

            </select>
            <a class="button" href="quest_edition.html">
                <img class="button-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/UniversalEditButton3.png/220px-UniversalEditButton3.png" />
            </a>
            <a class="button" href="">
                <img class="button-image" src="../img/delete-309164_640.png" />
            </a>
        </div>
    </div>
</div>