<div class="menu">
    <ul class="menu">
        {% for key, value in menu %}
        <a href={{ value }}>
            <li class="menu-button">{{ key }}</li></a>
        {% endfor %}
    </ul>
</div>
