<div class="menu-bar">
    <nav>
        <ul>
            {% for key, value in menu %}
                <a href={{ value }}><li><span>{{ key }}</span></li></a>
            {% endfor %}
        </ul>
    </nav>
</div>